*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html.body{
    height: 100%;
    width: 100%;
}

:root{
    --x: 50%;
    --y: 50%;
}

@mixin flex-center($gap:0rem){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $gap;
}

@mixin height-width(){
    background-color: #111;
    height: 100vh;
    width: 100%;
}

main{
    .page1{
        @include height-width();
        @include flex-center(1rem);

        .card{
            height: 30vw;
            width: 20%;
            background-color: #dadada;
            border-radius: 1vw;
            @include flex-center(2vw);

            img{
                height: 7vw;
                width: 7vw;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }

            h2{
                font-size: 2vw;
            }

            h4{
                font-size: 2vw;
                color: red;
            }

            button{
                padding: .9vw 3vw;
                border: none;
                border-radius: 2vw;
                background-color: royalblue;
                color: #fff;
                font-size: 1.3vw;
                font-weight: 500;
                cursor: pointer
            }

        }

        .counter{
            height: 20vh;
            width: 20vw;
            text-align: center;
            h1{
                color: #fff;
            }

            #btn{
                width: 100%;
                height: 50%;
                @include flex-center(0rem);
                flex-direction: row;
                justify-content: space-between;
                

                button{
                    cursor: pointer;
                    padding: 1vw 2vw;
                    font-size: 2vw;
                    border-radius: 1vw;
                }
            }
        }
    }
    .page2{
        @include height-width();
        @include flex-center(0rem);
        position: relative;
        
        .card{
            padding: 2vw;
            width: 20%;
            background-color: #dadada;
            border-radius: 1.2rem;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: pointer;
            .refer{
                overflow: hidden;
                position: relative;
            }

            img{
                width: 100%;
                margin-bottom: 2vw;
                border-radius: 1.2rem;
            }

            #hert1{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(0) rotate(-60deg);
                opacity: 0;
                transition: all cubic-bezier(.65,1,.77,1.44) 0.5s;
                font-size: 6rem;
                background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
                background-size: cover;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                z-index: 2;
            }
            
        }

        .cursor{
            height: 5vw;
            width: 5vw;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            mix-blend-mode: difference;
            pointer-events: none;
            transition: left 0.02s ease, top 0.02s ease;
        }
    }
    .page3{
        @include height-width();
        @include flex-center(2rem);
        .box{
            height: 60vh;
            width: 40vw;
            background-color: rgb(0, 0, 0);
            border-radius: 2vw;
        }

        button{
            padding: 1vw 3vw;
            cursor: pointer;
            font-size: 1.5vw;
            background-color: darkred;
            border: none;
            border-radius: 1vw;
        }
        button:active{
            scale: .9;
        }
    }
    .page4 {
        height: 100vh;
        width: 100%;
        background-color: black;
        background-image: url("https://user-gen-media-assets.s3.amazonaws.com/seedream_images/2ad1e315-5cb8-4445-b710-4b78cf94e17c.png");
        background-size: cover;
        background-position: center;
        @include flex-center(2vw);

        h1 {
            color: #fff;
            padding: 1.4vw 2vw;
            border-radius: 1vw;
            opacity: .5;
        }

        button {
            padding: 1vw 3vw;
            font-size: 1.5vw;
            background-color: #999;
            opacity: .7;
            border: none;
            cursor: pointer;
            border-radius: 1vw;
        }

        button:active {
            scale: .9;
        }
    }
    .page5{
        @include height-width();
        color: #fff;

        .elem{
            height: 23vh;
            width: 100%;
            border-bottom: 2px solid #fff;
            @include flex-center(0rem);
            align-items: flex-start;
            position: relative;
            cursor: pointer;

            h1{
                font-size: 4vw;
            }

            img{
                mix-blend-mode: difference;
                position: absolute;
                height: 10vw;
                width: 10vw;
                border-radius: 50%;
                opacity: 0;
                object-fit: cover;
                transition: left 0.02s ease;
            }
        }
    }
    .page6{
        @include height-width();
        @include flex-center(0rem);

        .card{
            height: 70vh;
            width: 24vw;
            background-color: #fff;
            border-radius: 1vw;
            overflow: hidden;
            position: relative;

            .storiyan{
                height: 9vw;
                padding: 1vw 0;
                background-color: #dadadada;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                

                .story{
                    height: 7vw;
                    width: 7vw;
                    border: 2px solid red;
                    border-radius: 50%;
                    cursor: pointer;
                    display: inline-block;
                    margin-left: 1vw;
                    overflow: hidden;

                    img{
                        object-fit: cover;
                        background-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .statuss{
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                position: absolute;
                display: none;
            }

            .storiyan::-webkit-scrollbar{
                display: none;
            }
        }
    }
    .page7{
        @include height-width();
        @include flex-center(7rem);
        h2{
            color: #fff;
        }
        .btn-container{
            height: 38vh;
            width: 100%;
            display: flex;

            .btn{
                height: 38vh;
                width: 5%;
                border-radius: .5vw;
                @include flex-center(0rem);
                justify-content: flex-end;
                padding-bottom: 5vh;
                border-right: 1px solid #777;
                background-color: #fff;
                box-shadow: 0vw .5vw 1px #707070ef;
                font-size: 2vw;
                cursor: pointer;
            }

            .btn:active{
                scale: .97;
            }
        }
    }
    .page8{
        @include height-width();
        @include flex-center(0rem);
        overflow: hidden;
        position: relative;

        button{
            padding: 1vw 2.5vw;
            border: none;
            border-radius: 2vw;
            background-color: darkred;
            font-size: 1.3vw;
            cursor: pointer;
            position: relative;
            z-index: 9;
        }
        button:active{
            scale: .93;
        }

        h2{
            color: #fff;
            white-space: nowrap;
        }
    }
    .page9{
        @include height-width();
        @include flex-center(0rem);
        .card{
            width: 35vw;
            background-color: #fff;
            padding: 2vw;
            border-radius: 1vw;
            text-align: center;
            box-shadow: -.3vh -.3vh 50px .1vw  #fffefea1;
            p{
                padding: 2vw;
                i{
                    color: royalblue;
                }
            }
            .loader{
                height: 3vh;
                width: 100%;
                background-color: #dadada;
                border-radius: 2vw;

                .inner{
                    background-color: green;
                    height: 100%;
                    width: 0%;
                    border-radius: 2vw;
                }
            }

            .download{
                width: 100%;
                padding: 2vw 0;
                display: flex;
                justify-content: space-between;

                button{
                    padding: 1vw 2.5vw;
                    color: #fff;
                    border: none;
                    border-radius: 1vw;
                    background-color: rgb(0, 139, 30);
                    font-size: 1.3vw;
                    cursor: pointer;
                    position: relative;
                    z-index: 9;
                }
                button:active{
                    scale: .93;
                }
            }
        }
    }
    .page10{
        @include height-width();
        display: flex;
        align-items: center;
        column-gap: 3vw;
        flex-wrap: wrap;
        padding: 0vw 16vw;
        .card{
            height: 45vh;
            width: 28%;
            background-color: #dadada;
            text-align: center;
            padding: 1.5vw;
            border-radius: 1vw;
            box-shadow: .1vw .1vw 20px #c6c5c5a1;

            img{
                height: 8vw;
                width: 8vw;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
            }
            p{
                font-size: .9vw;
            }
            h3{
                margin-top: 2vw;
                font-size: 1.5vw;
            }

            h4{
                margin: 1vw;
                white-space: nowrap;
                font-size: 1.3vw;
                color: rgb(255, 0, 0);
            }
            
        }
    }
    .page11{
        @include height-width();
        background-color: #171717;
        position: relative;
        padding: 2vw;
        .box{
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 9;
            top: 0;
            left: 0;
            background: radial-gradient(200px at var(--x) var(--y) , rgba(255, 255, 255, 0.067), rgba(0, 0, 0, 0.907));
        }
        .heading{
            width: 100%;
            padding: 2vw;
            background-image: url(https://i.pinimg.com/originals/1f/a8/4f/1fa84f1d7d4ad96dd51f81804847967a.gif);
            background-size: cover;
            @include flex-center(0rem);
            border-radius: 1vw;

            h2{
                font-family: monospace;
                font-size: 2.5vw;
                color: #fff
            }
        }

        .elems{
            height: 80vh;
            margin-top: 1vh;
            width: 100%;
            border-radius: 1vw;
            display: flex;
            flex-wrap: wrap;
            padding: 0 4vw;
            padding-top: 1.6vw;
            column-gap: 2vw;

            .elem{
                height: 35vh;
                width: 20vw;
                background-color: #000;
                border-radius: 1vw;
                @include flex-center(0rem);
                color: #fff;
                box-shadow: 2px 2px 10px #7a7878;
                h3{
                    font-size: 1.5vw;
                    text-transform: capitalize;
                    font-weight: 400;
                    font-family: monospace;
                }
            }
        }
    }
    .page12{
        @include height-width();
        @include flex-center(2rem);
        position: relative;
        .cursor{
            position: fixed;
            mix-blend-mode: difference;
            transform: translate(-50%,-50%);
            height: 4vw;
            width: 4vw;
            transition: linear ease .1s;
            border-radius: 50%;
            background: linear-gradient(-45deg ,red,green);
            box-shadow: 4px 3px 6px rgb(255, 0, 0);
        }
        
        p{
            cursor: pointer;
            mix-blend-mode: difference;
            color: #fff;
            border-radius: 1vw;
            text-transform: capitalize;
            padding: 1vw;
            font-size: 2rem;
            font-family: monospace;
            font-weight: 900;
            background: linear-gradient(to left,red,green);
            -webkit-background-clip: text;
            color: transparent;
            box-shadow: 2px 2px 5px red;
        }
    }
    .page13{
        @include height-width();
        @include flex-center(2rem);
        flex-direction: row;
        .card{
            padding-inline: 8px;
            padding: 8px;
            width: 21rem;
            color: #fff;
            @include flex-center(1rem);
            align-items: flex-start;
            border-radius: 1vw;
            h2,p{
                font-family: monospace;
                font-weight: 600;
            }
            h2{
                margin-left: 1vw;
                font-size: 1.4vw;
            }
            p{
                margin-left: 1vw;
                margin-bottom: 1vw;
                font-size: 1.1vw;
            }

            img{
                width: 100%;
            }
        }

        .card.card1:hover{
            box-shadow: 0 0 30px #00adf2;
            background: linear-gradient(rgba(0, 0, 0, 0.926)) content-box,
                conic-gradient(from var(--Angle), black,#00fafd,#0093ee,black,black, black,) border-box
            ;
            animation: bganimation 4s linear infinite forwards;
            color: #00adf2;
            text-shadow: 0 0 2px #00fafd;
            cursor: pointer;
        }

        .card.card2:hover{
            box-shadow: 0 0 30px #f21c00;
            background: linear-gradient(rgba(0, 0, 0, 0.926)) content-box,
                conic-gradient(from var(--Angle), black,#fd0000,#ee3800,black,black, black,) border-box
            ;
            animation: bganimation 4s linear infinite forwards;
            color: #9e0000;
            text-shadow: 0 0 2px #fd0000;
            cursor: pointer;
        }

        .card.card3:hover{
            box-shadow: 0 0 30px #003b00;
            background: linear-gradient(rgba(0, 0, 0, 0.926)) content-box,
                conic-gradient(from var(--Angle), black,#d8e46c,#b6f569,black,black, black,) border-box
            ;
            animation: bganimation 4s linear infinite forwards;
            color: #d1f18c;
            text-shadow: 0 0 2px #00fafd;
            cursor: pointer;
        }
        
    }
    .page14{
        @include height-width();
        @include flex-center(0rem);
        overflow-x: hidden;
        position: relative;
        .cont{
            height: 50vh;
            width: 100%;
            display: flex;
            gap: 2rem;
            overflow: auto;
            padding: 2vw;

            .image{
                height: 100%;
                width: 30vw;
                border-radius: 1vw;
                overflow: hidden;
                flex-shrink: 0;
                transition: all .3s ease;
                box-shadow: 0 1px 40px #0093ee;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .abs{
            height: 100%;
            width: 100%;
            background: radial-gradient(700px , rgba(0, 0, 0, 0), black);
            position: absolute;
            pointer-events: none;
        }
        .cont::-webkit-scrollbar{
            display: none;
        }
        .cont:hover{
            box-shadow: 0 0 30px #00adf2;
            background: linear-gradient(rgba(0, 0, 0, 0.926)) content-box,
                conic-gradient(from var(--Angle), black,#00fafd,#0093ee,black,black) border-box
            ;
            animation: bganimation 4s linear infinite forwards;
            cursor: pointer;
        }
        .cont:has(.image:hover) .image{
            transform: scale(.7);
        }

        .cont .image:hover{
            transform: scale(1) !important;
        }

    }
    .page15{
        @include height-width();
        overflow: hidden;
        position: relative;
        .matrix{
            @include height-width();
            @include flex-center(0rem);

            button{
                padding: 1vw 2vw;
                font-size: 2vw;
                border-radius: 2vw;
                cursor: pointer;
                mix-blend-mode: difference;
                border-radius: 1vw;
                text-transform: capitalize;
                font-weight: 900;
                background: linear-gradient(to left,red,green,blue,yellow);
                -webkit-background-clip: text;
                color: transparent;
                box-shadow: 2px 2px 5px rgb(204, 255, 0);
                
            }
        }
        .matrix span {
            position: absolute;
            color: rgb(0, 242, 255);
            font-size: 22px;
            font-family: monospace;
            white-space: nowrap;
            user-select: none;
            cursor: pointer;
            z-index: 6;
            animation: fall linear forwards;
        }
    }
}

@property --Angle {
    syntax: "<angle>";
    initial-value: 270deg;
    inherits: false;
}

@keyframes bganimation {
    from{
        --Angle:0deg;
        transform: rotateX(-30deg) scale(.95);
    }

    to{
        --Angle:360deg;
        transform: rotateY(-20deg) scale(1.1) ;
    }
}

@keyframes fall {
    from{
        transform: translateY(-20px);
        opacity: 1;
    }
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}