*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html.body{
    height: 100%;
    width: 100%;
}


@mixin flex-center($gap:0rem){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $gap;
}

@mixin height-width(){
    background-color: #111;
    height: 100vh;
    width: 100%;
}

main{
    .page1{
        @include height-width();
        @include flex-center(1rem);

        .card{
            height: 30vw;
            width: 20%;
            background-color: #dadada;
            border-radius: 1vw;
            @include flex-center(2vw);

            img{
                height: 7vw;
                width: 7vw;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }

            h2{
                font-size: 2vw;
            }

            h4{
                font-size: 2vw;
                color: red;
            }

            button{
                padding: .9vw 3vw;
                border: none;
                border-radius: 2vw;
                background-color: royalblue;
                color: #fff;
                font-size: 1.3vw;
                font-weight: 500;
                cursor: pointer
            }

        }

        .counter{
            height: 20vh;
            width: 20vw;
            text-align: center;
            h1{
                color: #fff;
            }

            #btn{
                width: 100%;
                height: 50%;
                @include flex-center(0rem);
                flex-direction: row;
                justify-content: space-between;

                button{
                    padding: 1vw 2vw;
                    font-size: 2vw;
                    border-radius: 1vw;
                }
            }
        }
    }
    .page2{
        @include height-width();
        @include flex-center(0rem);
        position: relative;
        
        .card{
            height: 55vh;
            width: 20%;
            background-color: #dadada;
            border-radius: 1.2rem;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img{
                height: 100%;
                width: 100%;
            }

            #hert1{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(0);
                opacity: 0;
                transition: transform ease .5s;
                font-size: 5rem;
                color: #ff0066;
                z-index: 2;
            }

            #hert2{
                position: absolute;
                right: 10%;
                bottom: 5%;
                transition: transform ease .5s;
                font-size: 2rem;
                color: #fff;
                z-index: 2;
            }
            
        }

        .cursor{
            height: 5vw;
            width: 5vw;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            mix-blend-mode: difference;
            pointer-events: none;
            transition: left 0.02s ease, top 0.02s ease;
        }
    }
    .page3{
        @include height-width();
        @include flex-center(2rem);
        .box{
            height: 60vh;
            width: 40vw;
            background-color: rgb(0, 0, 0);
            border-radius: 2vw;
        }

        button{
            padding: 1vw 3vw;
            font-size: 1.5vw;
            background-color: darkred;
            border: none;
            border-radius: 1vw;
        }
        button:active{
            scale: .9;
        }
    }
    .page4 {
        height: 100vh;
        width: 100%;
        background-color: black;
        background-image: url("https://user-gen-media-assets.s3.amazonaws.com/seedream_images/2ad1e315-5cb8-4445-b710-4b78cf94e17c.png");
        background-size: cover;
        background-position: center;
        @include flex-center(2vw);

        h1 {
            color: #fff;
            padding: 1.4vw 2vw;
            border-radius: 1vw;
            opacity: .5;
        }

        button {
            padding: 1vw 3vw;
            font-size: 1.5vw;
            background-color: #999;
            opacity: .7;
            border: none;
            border-radius: 1vw;
        }

        button:active {
            scale: .9;
        }
    }
    .page5{
        @include height-width();
        color: #fff;

        .elem{
            height: 23vh;
            width: 100%;
            border-bottom: 2px solid #fff;
            @include flex-center(0rem);
            align-items: flex-start;
            position: relative;

            h1{
                font-size: 4vw;
            }

            img{
                mix-blend-mode: difference;
                position: absolute;
                height: 10vw;
                width: 10vw;
                border-radius: 50%;
                opacity: 0;
                object-fit: cover;
                transition: left 0.02s ease;
            }
        }
    }
    .page6{
        @include height-width();
        @include flex-center(0rem);

        .card{
            height: 70vh;
            width: 24vw;
            background-color: #fff;
            border-radius: 1vw;
            overflow: hidden;
            position: relative;

            .storiyan{
                height: 9vw;
                padding: 1vw 0;
                background-color: #dadadada;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                

                .story{
                    height: 7vw;
                    width: 7vw;
                    border: 2px solid red;
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 1vw;
                    overflow: hidden;

                    img{
                        object-fit: cover;
                        background-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .statuss{
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                position: absolute;
                display: none;
            }

            .storiyan::-webkit-scrollbar{
                display: none;
            }
        }
    }
    .page7{
        @include height-width();
        @include flex-center(0rem);
        form{
            height: 70vh;
            width: 27vw;
            padding: 1vw;
            background-color: rgb(254, 254, 255);
            display: flex;
            gap: 1vw;
            flex-direction: column;
            border-radius: 1vw;
            box-shadow: 0 4px 15px rgba(162, 158, 158, 0.5);

            input, textarea {
                padding: .8vw;
                border-radius: .5vw;
                border: none;
                outline: none;
                font-size: 1vw;
                background-color: #dcdcdc;
                color: #111;
            }
            input::placeholder,  textarea::placeholder{
                color: #3b3b3b;
            }  

            button {
                padding: 1vw;
                border-radius: 1vw;
                border: none;
                background-color: #5c6bc0;
                color: #fff;
                font-size: 1vw;
                cursor: pointer;
                transition: 0.3s;
            }

            button:active{
                scale: .9;
            }

            textarea{
                resize: none;
                height: 40vw;
            }

            label {
                font-weight: bold;
                font-size: 1vw;
            }
        }

    }
    .page8{
        @include height-width();
        @include flex-center(0rem);
        overflow: hidden;
        position: relative;

        button{
            padding: 1vw 2.5vw;
            border: none;
            border-radius: 2vw;
            background-color: darkred;
            font-size: 1.3vw;
            cursor: pointer;
            position: relative;
            z-index: 9;
        }
        button:active{
            scale: .93;
        }

        h2{
            color: #fff;
            white-space: nowrap;
        }
    }
    .page9{
        @include height-width();
        @include flex-center(0rem);
        .card{
            width: 35vw;
            background-color: #fff;
            padding: 2vw;
            border-radius: 1vw;
            text-align: center;
            box-shadow: -.3vh -.3vh 50px .1vw  #fffefea1;
            p{
                padding: 2vw;
                i{
                    color: royalblue;
                }
            }
            .loader{
                height: 3vh;
                width: 100%;
                background-color: #dadada;
                border-radius: 2vw;

                .inner{
                    background-color: green;
                    height: 100%;
                    width: 0%;
                    border-radius: 2vw;
                }
            }

            .download{
                width: 100%;
                padding: 2vw 0;
                display: flex;
                justify-content: space-between;

                button{
                    padding: 1vw 2.5vw;
                    color: #fff;
                    border: none;
                    border-radius: 1vw;
                    background-color: rgb(0, 139, 30);
                    font-size: 1.3vw;
                    cursor: pointer;
                    position: relative;
                    z-index: 9;
                }
                button:active{
                    scale: .93;
                }
            }
        }
    }
}
